:root{
    --primary-pink: #FF3147;
    --primary-white: #ffffff;
    --primary-gray: #9ea2ad;
    --secondary-gray: #d1d1da;
    --section2-bg: #FAFAFA;
    --section3-hover: #e7e2e2;
    --project-bg: #F6F6F6;
}